/* Container for the page */
.secret-container, .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}

/* Heading and Add Secret button alignment */
.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Add Secret button style */
.add-secret-btn {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Styling for form buttons (Submit, Cancel) */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.button-container .back-btn{
    margin-left: auto;
}

/* Spacing for the form inputs */
.form-group {
    margin-bottom: 15px;
}

/* Styling for the table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Overlay and popup for secret details */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* .popup-box {
    #position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
} */

/* #details-popup div, #del-secret-consent div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
} */

/* .close-btn, .cancel-secret-btn, .back-btn, .del-secret-btn{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

#overlay #del-secret-consent .del-secret-btn{
    margin-left: 1%;
}

/* #overlay #del-secret-consent .close-btn{
    background-color: rgb(254 240 138 / var(--tw-bg-opacity, 1));
} */

.cancel-secret-btn a, .back-btn a{
    text-decoration: None;
    color: white;
}

.cancel-secret-btn a:hover, .back-btn a:hover{
    text-decoration: None;
    color: white;
}


.add-nominee-btn, .remove-nominee-btn{
    padding: 8px 15px;
    font-size: 14px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.remove-nominee-btn{
    background-color: red;
}



