{% extends "layout.html" %}

{% block content %}
<form action="#" method="POST">
    {{form.hidden_tag()}}
    <legend>Add Secrets</legend>
    <div class="input-fields">
        {{form.name.label(class="field-label")}} <br>
        {{form.name}}
    </div>
    <div class="input-fields">
        {{form.secret.label(class="field-label")}} <br>
        {{form.secret}}
    </div>
    <div id="nominee-fields">
            {% for nominee in form.nominees %}
                
                <div id="nominee-field-{{loop.index - 1}}">
                       
                       {{ nominee}}
                    <button type="button" onclick="removeNominee('nominee-field-{{loop.index-1}}')">Remove</button>
                </div>
            {% endfor %}
    </div>
    <button class="my-1" onclick="addNominees()">Add more Nominees</button>
    <div class="submit-field">
        {{form.submit(class='btn btn-outline-info')}}
    </div>
</form>

{% endblock content %}