{% extends "layout.html" %}

{% block content %}
<div class="container edit-secret">
    <div class="heading-container">
        <h2>Edit Secret</h2>
        <!-- <button class="add-secret-btn" onclick="toggleSecretForm()">Add Secret</button> -->
    </div>

    <!-- Edit Secret Form (Initially Hidden) -->
    <div id="edit-secret">
        <form action="#" method="POST">
            {{ form.hidden_tag() }}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li><strong>{{ form[field].label.text }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
            <!-- Secret Name -->
            <div class="form-group">
                <label for="name">Secret Name:</label>
                {{ form.name(class="form-control") }}
            </div>

            <!-- Secret Value -->
            <div class="form-group">
                <label for="secret">Secret:</label>
                {{ form.secret(class="form-control") }}
            </div>

            <!-- Nominee Fields -->
            <div class="form-group">
                <label>Nominees:</label>
                <div id="nominee-fields">
                    {% for nom in secret.nominees %}
                    <div id="nominee-field-{{ loop.index }}"  class="nominee-container">
                        <label>Nominee Name:</label>
                        <input type="text" name="nominees-{{ loop.index }}-name" required value="{{ nom.name }}">
                        <label>Email:</label>
                        <input type="text" name="nominees-{{ loop.index }}-email_id" required value="{{ nom.email_id}}">
                        <button class="remove-nominee-btn" type="button" onclick="removeNominee('nominee-field-{{ loop.index }}')">Remove</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="add-nominee-btn" onclick="addNominees()">Add Nominee</button>
            
                
            <!-- Submit and Cancel Buttons -->
            <div class="button-container">
                <button type="submit" class="add-secret-btn">Update Secret</button>
                <button type="button" class="back-btn">
                    <a href="{{url_for('secrets')}}">Back</a>
                </button>
                <button type="button" class="cancel-secret-btn" onclick="window.location.href=window.location.href;">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}