{% extends "layout.html" %}
{% block content %}
    <div class="home">
        {% if current_user.is_verified == true %}
            <div class="container">
                <span>
                    Please verify your account.OTP has already sent to your email {{ current_user.email }}
                </span>
                <a href="{{url_for('accounts.verify')}}">Click here to verify</a>
                <button class='button' onclick="this.parentElement.style.display='none'">X</button>
            </div>
        {% endif %}

        <div class="container desc">
            <div class="main-desc">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cupiditate laboriosam et a. Amet delectus blanditiis corrupti fuga est velit!</p>
            </div>
        </div>
        
        <ul class="container features">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <li class="col feature-1">
                    <div>
                        feature-1
                    </div>
                    <p>Lorem ipsum dolor sit elit. Dolorum, in excepturi! voluptates.</p>
                </li>
                <li class="col feature-2">
                    <div>feature-2</div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, nam!</p>
                </li>
                <li class="col Data Protection">
                    <div>Data Protection</div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, nam!</p>
                </li>
                <li class="col feature-4">
                    <div>feature-4</div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, nam!</p>
                </li>
            </div>
        </ul>
    </div>
{% endblock content %}