{% extends "layout.html" %}

{% block content%}

    <div class="container secret-div">
        <!-- <br><br> -->
        <div>
            {% for secret in secrets %}

            <div class="row">
                <div class="secret-details">
                    <h4 class="secret-name"> {{secret.fieldName}}</h4>
                    <div class="secret-nominees">
                        {% for nominee in secret.nominees %}
                            <div>{{nominee.name}}</div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>

            {% endfor %}
        </div>
        <div class="row" style="justify-self: end;">
            <button onclick="toggleSecretForm()">Add Secret</button>
        </div>
    </div>
    <div id="add-secrets" class="container add-secrets border" style="display: none;">
        <form action="#" method="POST">
            {{form.hidden_tag()}}
            <legend>Add Secrets</legend>
            <div class="input-fields">
                {{form.name.label(class="field-label")}} <br>
                {{form.name}}
            </div>
            <div class="input-fields">
                {{form.secret.label(class="field-label")}} <br>
                {{form.secret}}
            </div>
            <div id="nominee-fields">
                <div class="nominee-field-0">
                    {% for nominee in form.nominees %}
                       
                            {{ nominee.nominee_name.label(class="field-label")}}:
                            {{ nominee.nominee_name }}
                        
                            {{ nominee.email_id.label(class="field-label") }}:
                            {{ nominee.email_id }}
                    {% endfor %}
                </div>
            </div>
            <button class="my-1" onclick="addNominees()">Add more Nominees</button>
            <div class="submit-field">
                {{form.submit(class='btn btn-outline-info')}}
            </div>
        </form>
    
    </div>
    